body{
    font-family: Poppins, sans-serif;
    font-weight: 300;
}

ul{
    list-style-type: none;
   
}

li{
    float: left;
     
}

a{
    text-decoration: none;
    color: rgba(57, 55, 55, 0.729);
    
}

a:hover{
    text-decoration: underline;
    color: rgb(56, 56, 55);
}

.lidiv{
    padding-top: 20px;
   padding-left: 40px;

   
}

h1{
    color: rgba(57, 55, 55, 0.729) ;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    background-color: rgb(255, 223, 228);
    padding: 10px;
    text-decoration: none;
    
}

.aboutbox{
    display: flex;
}

.aboutp{
    padding: 80px;
    font-size: 17px;
    color: rgba(57, 55, 55, 0.729);
    border: 2px solid rgba(57, 55, 55, 0.729);
    margin: 20px;
    border-radius: 20px;
    
}

.shopbox{
    display: flex;
  

}

.shopbox>div{
    border: 1px solid rgba(0, 0, 0, 0.195);
    padding: 10px;
    border-radius: 20px;
    margin-left: 30px;
}

.shopbox>div>img{
    height: 300px;
    width: 300px;
    border-radius: 20px;
}

.shopbox>div>p{
    text-align: center;
}

.shopbox>div>center>button{
    background-color:  rgba(57, 55, 55, 0.426);
    border-radius:15px;
    width: 200px;
    height: 40px;
    border: 0px;
    
}

.shopbox>div>center>button>a{
    color: white;
    font-weight: bold;
}

footer{
    background-color: rgba(128, 128, 128, 0.456);
}

h2{
    color: rgb(61, 59, 59);
    text-align: center;
    text-decoration: underline;
}


input[type=text]{
    width: 500px;
    padding: 15px;
    border-radius: 20px;
    border: 0px;
}